:root {
	--background-color: #ffffff ;
	--color: #333333 ;
	--color-meta: #808080 ;
 
	--pitch-line-color: #ffffff ;
	--pitch-shade-color: #ffffff ;
}
 

 


:root {
	background-color: var( --background-color );
  font-family: "Open Sans";

}

.pitch {
  stroke: var( --pitch-line-color );
  fill: var( --pitch-line-color );
  .shaded {
    fill: var( --pitch-shade-color );
    opacity: .1;
    stroke: 0;
  }
}


#field {
  width: 100%;
  height: 900px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  & svg{
    position: relative;
  background-color: #00aa00; /* Cambiar a color verde */

  }
}

.goalpost {
  fill: white;
}



.field-line {
  stroke: white;
  stroke-width: 2;
}

.center-circle {
  fill: transparent;
  stroke: white;
  stroke-width: 2;
}
.player-number {
  fill: white;
  font-size: 2px; 
  text-anchor: middle;
}

.player-hover,
.opponent-hover {
  fill: orange; 
}